body {
    font-family: 'Pretendard Variable', Arial, sans-serif; /* Pretendard를 기본 글씨체로 설정 */
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
main {
    padding: 2rem;
}
.card-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    flex: 1 1 calc(33.333% - 2rem);
    box-sizing: border-box;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
