<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>패널 정보</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'asd/mypage/panel/search_panel.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />

</head>
<body>
    <!-- 패널 정보 조회 -->
    <div>
        <h1>패널 정보 조회</h1>

        <div class="button-container">
            <a href="{% url '마이페이지' %}" class="back-link-back">마이페이지로 돌아가기</a>
            <a href="{% url '패널정보 입력' %}" class="back-link-panel">패널 정보 입력하기</a>
        </div>
        
        <!-- 메인 패널 표시 -->
        <h2>메인 패널</h2>
        <table>
            <thead>
                <tr>
                    <th>모델명</th>
                    <th>설치 용량</th>
                    <th>설치 지역</th>
                    <th>제조업체</th>
                    <th>관리업체</th>
                    <th>보유 개수</th>
                    <th>패널 크기</th>
                    <th>설치 일자</th>
                    <th>점검 기록</th>
                    <th>고장 원인</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                {% for panel in panels %}
                    {% if panel.state == 1 %}
                    <tr>
                        <td>{{ panel.modelNamev }}</td>
                        <td>{{ panel.capacity }}</td>
                        <td>{{ panel.location }}</td>
                        <td>{{ panel.manufacturer }}</td>
                        <td>{{ panel.maintenance }}</td>
                        <td>{{ panel.quantity }}</td>
                        <td>{{ panel.size }}</td>
                        <td>{{ panel.date }}</td>
                        <td>{{ panel.record }}</td>
                        <td>{{ panel.cause }}</td>
                        <!-- 패널 정보 수정 버튼 -->
                        <td>
                            <a href="{% url '패널정보 수정' panel.id %}" class="btn">수정</a>
                        </td>
                        <!-- 패널 정보 삭제 버튼 -->
                        <td>
                            <form method="post" action="{% url '패널정보 삭제' panel.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn">삭제</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <!-- 일반 패널 표시 -->
        <h2>등록된 패널</h2>
        <table>
            <thead>
                <tr>
                    <th>모델명</th>
                    <th>설치 용량</th>
                    <th>설치 지역</th>
                    <th>제조업체</th>
                    <th>관리업체</th>
                    <th>보유 개수</th>
                    <th>패널 크기</th>
                    <th>설치 일자</th>
                    <th>점검 기록</th>
                    <th>고장 원인</th>
                    <th>수정</th>
                    <th>삭제</th>
                    <th>메인패널지정</th>
                </tr>
            </thead>
            <tbody>
                {% for panel in panels %}
                    {% if panel.state == 0 or panel.state is None %}
                    <tr>
                        <td><strong>{{ panel.modelNamev }}</strong></td>
                        <td>{{ panel.capacity }}</td>
                        <td>{{ panel.location }}</td>
                        <td>{{ panel.manufacturer }}</td>
                        <td>{{ panel.maintenance }}</td>
                        <td>{{ panel.quantity }}</td>
                        <td>{{ panel.size }}</td>
                        <td>{{ panel.date }}</td>
                        <td>{{ panel.record }}</td>
                        <td>{{ panel.cause }}</td>
                        <!-- 패널 정보 수정 버튼 -->
                        <td>
                            <a href="{% url '패널정보 수정' panel.id %}" class="btn">수정</a>
                        </td>
                        <!-- 패널 정보 삭제 버튼 -->
                        <td>
                            <form method="post" action="{% url '패널정보 삭제' panel.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn">삭제</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url '메인패널 설정' panel.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn">메인</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
</body>
</html>
